<header>
  <div id="search">
    <%= form_tag(restaurants_search_path,method: :get) do %>
      <%= search_field_tag :looking_for,nil,placeholder: 'Restaurant name...' %>
      <%= submit_tag '検索'%>
    <% end %>
  </div>
</header>
<main>
  <div class="center">
    <div id="map">
    </div>
  </div>
  <div id="result">
    <% if @restaurant_results.blank? %>
      <p>[<%= @search_term %>]と一致する情報が見つかりませんでした</p>
    <% else %>
      <p>[<%= @search_term %>]の検索結果</p>
      <table>
        <tr>
          <td>
            <% @restaurant_results.each do |restaurant| %>
              <%= link_to restaurant['name'],action: 'show',id: "#{restaurant["id"]}" %>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</main>
<%= javascript_include_tag 'map' %>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJkNaFwBZOzxoG3O6-CoBPyYolJYLdoFY&callback=initMap"></script>